<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <title>{{title}}</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    </head>
    <body>
    <h1>{{ title }}</h1>
    <form action="/" method="POST">
        <input type="submit" value="初期表示" name="Initialize">
    </form>
    <form action="/" method="PUT">
        <input type="submit" value="登録" name="Submit", method="PUT">
        商品名：<input type="text" value="" name="name">
        原価：<input type="text" value="" name="cost">
        売価：<input type="text" value="" name="price">
    </form>
      {{ table }}
    </body>
</html>