<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    </head>
    <body>
    <h1 style="text-align: center">買い物一覧</h1>
    <form action="/logout" method="POST" style="text-align: right">
        ログインID：{{ login_user }}
        <input type="submit" value="ログアウト" name="logout">
    </form>
    <tr class='message'>
        <p>{{ message }}</p>
    </tr>
    <form action="/csv" method="POST">
        <input type="submit" value="CSV取込" name="input">
        <input type="submit" value="CSV出力" name="output">
    </form>
    <form action="/transit" method="POST">
        <input type="submit" value="ユーザ一覧" name="users_list">
    </form>
    <form action="/register_shopping_list" method="POST">
        商品名：<input type="text" value="" name="name">
        購入日：<input type="text" id="datepicker" value="" name="date">
        金額：<input type="text" value="" name="price">
        <input type="submit" value="登録" name="register">
        <input type="submit" value="更新" name="update">
        <input type="submit" value="削除" name="delete">
    </form>
      {{ table }}
    </body>
</html>