<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    <script>
    function check(){
        return confirm("ユーザー登録を解除します。よろしいですか？");
    }
    </script>
    </head>
    <body>
    <h1 style="text-align:center;">ユーザ一覧</h1>
    <tr style="text-align:left;">ログインID：{{ login_user }}</tr>
    <form action="/logout" method="POST" style="text-align:right;">
        <input type="submit" value="ログアウト" name="logout" style="height:30px;width:150px;">
        <input type="submit" value="ユーザー登録解除" name="cancel_user_registration" onclick="return check()" style="height:30px;width:150px;">
    </form>
    <tr class='message'>
        <p>{{ message }}</p>
    </tr>
    <form action="/transit" method="POST" style="text-align:right;">
        <input type="submit" value="買い物一覧画面" name="shopping_list" style="height:30px;width:150px;">
    <tr style="text-align:center;">
        <p>{{ table }}</p>
    </tr>
</html>